<%= content_for :breadcrumb do %>
<%= print_breadcrumbs([
  [t('breadcrumb.camps.index', :default => 'Campi'), camps_path],
  [@camp.title, camp_path(@camp)],
  ["Nuovo servizio"]
]).html_safe %>
<% end %>

<h1>Inserisci nuovo servizio</h1>

<%= render 'form' %>

<%= link_to 'Indietro', camp_path(@camp) %>
