<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Gestione campi</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to t('.new_camp', :default => "Nuovo campo"), new_camp_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
