<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Gestione campi</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to t('.new_camp', :default => "Nuovo campo"), new_camp_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li><%= link_to('<i class="icon-signout"></i> Logout'.html_safe , destroy_user_session_path, :method => :delete, :confirm => "Confermi di voler uscire?", :title => 'Logout') %></li>
          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
